<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Eliminar exhibicion</title>
</head>
<body>
    <div class="middle mymt-15">
        <h1>Lista de Exhibiciones</h1>
        <table class="table middle-v2">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Exhicion 1</td>
                <td><p>Eiusmod qui consequat incididunt in ipsum ad do dolore veniam ex est exercitation et dolore. Aliqua mollit irure dolor minim aliqua incididunt id ullamco. Velit aliquip consectetur do nisi culpa nisi ex cupidatat ut anim deserunt pariatur. Excepteur exercitation sit culpa commodo consequat enim aliquip duis reprehenderit magna. Proident quis in fugiat pariatur reprehenderit culpa. Nisi aute sint elit Lorem excepteur aliquip aliqua cupidatat reprehenderit aliqua mollit ullamco sint quis.</p></td>
                <td><button type="button" class="btn btn-danger">Borrar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Exhicion 2</td>
                <td><p>Velit culpa non ut labore nostrud aliqua pariatur. Id tempor adipisicing exercitation eu reprehenderit elit occaecat incididunt minim cillum officia. Ex consectetur aute elit dolore esse mollit ex ex laboris. Sint quis enim voluptate consequat id eiusmod. Amet labore esse magna commodo exercitation amet in mollit excepteur duis quis. Cupidatat culpa veniam dolor nulla ut id est eiusmod laborum ex aliquip ipsum tempor non.</p></td>
                <td><button type="button" class="btn btn-danger">Borrar</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>