#login-container {
  padding: 10%;
  color: green;
}

.middle{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.display-flex{
  display: flex;
  justify-content: space-evenly;
}

.center-h1{
  text-align: center;
  margin-top: 10%;
}

.middle-v2{
  width: 75%;
}

.mymt-15{
  margin-top: 15%;
}